@page "/icon-pos"

<h3>Icon Position</h3>
<style>
    .button-icon {
        margin-left: 5px; /* Adds space to the left side of the icon */
        order: 1; /* Moves the icon to the end of the flex layout */
    }
</style>
<SsrButton Href="/" Text="Goto Home">
    <IconTemplate>
        <span>&#129312;</span>
    </IconTemplate>
</SsrButton>
@code {

}
